
* {
    box-sizing: border-box;
}

body {
    background-color: #999999;
    background-image: url("logo-stlab.png");
}


@media only screen and (min-width: 1130px) {


    .header {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        font-family: "calibri", sans-serif;
        font-size: 13px;
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
    }

    .page {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        background-color: white;
    }

    .contenuti{
        position: absolute;
        top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 1024px;
        width: 90%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
    }

    .options {
        float: left;
        font-family: "calibri", sans-serif;
        font-size: 13px;
        background-color: white;
        max-width: 325px;
        height: 180px;
        width: 100%;
    }

    .lista {
        float: left;
        font-family: "calibri", sans-serif;
        font-size: 12px;
        background-color: white;
        height: 180px;  
        width: 100%;
        max-width: 325px;
    }


}


@media only screen and (max-width: 1129px) {

    .header {
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        font-family: "calibri", sans-serif;
        font-size: 13px;
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
    }

    .page {
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        background-color: white;
    }

    .contenuti{
        position: absolute;
        top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 680px;
        width: 90%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
    }

    .options {
        float: left;
        font-family: "calibri", sans-serif;
        font-size: 12px;
        background-color: white;
        max-width: 650px;
        height: 180px;
        width: 100%;
    }

    .lista {
        float: left;
        font-family: "calibri", sans-serif;
        font-size: 12px;
        background-color: white;
        height: 180px;  
        width: 100%;
        max-width: 650px;
    }
}


.amr {
    float: left;
    font-family: "calibri", sans-serif;
    font-size: 13px;  
    background-color: white;
    height: 180px;
    width: 100%;
    max-width: 650px;
}

#amr {
    background-color: ivory; 
    font-family: "calibri", sans-serif;
    font-size: 13px;
    width: 100%;
    height: 95%;
    border: 1px solid rgb(173, 216, 230);
    padding: 10px;
    resize: none;
    margin: auto;
    min-width: 200px;
}


#lista {
    margin-top: 1px;
    font-family: "calibri", sans-serif;
    font-size: 12px;
    height: 95%;
    width: 100%;
    border: 1px solid rgb(173, 216, 230);
}


fieldset {
    display: block;
    border: 1px solid rgb(209, 223, 206); 
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

legend { 
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}



.text{
    float: left;
    font-family: "calibri", sans-serif;
    font-size: 13px;  
    background-color: white;
    height: 180px;
    width: 100%;
    max-width: 650px;
}

#text{
    background-color: ivory; 
    font-family: "calibri", sans-serif;
    font-size: 13px;
    width: 100%;
    height: 95%;
    border: 1px solid rgb(173, 216, 230);
    padding: 10px;
    resize: none;
    margin: auto;
    min-width: 200px;
}


.Amr2fred {
    clear: left;
    font-family: "calibri", sans-serif;
    font-size: 13px;
    background-color: white;
    border: 1px solid rgb(173, 216, 230);
    display: none;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.amr2fredresult {
    background-color: white;
    margin: auto;
    text-align: center;
    max-width: 990px;
}

.fredresult, .compareresult {
    background-color: white;
    border: 1px solid rgb(173, 216, 230);
    display: none;
    text-align: center;
    max-width: 990px;
    margin: 10px;
}

.Fred {
    font-family: "calibri", sans-serif;
    font-size: 13px;
    display: none;
    background-color: white;
}





h1 {
    font-family: "calibri", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
}

h3{
    font-family: "calibri", sans-serif;
    font-size: 13px;
    background-color: white;
    font-weight: bold;

}

.results {
    clear: left;
    background-color: white;
}

#tofred{
    max-width: 974px;
    width: 98%;
    resize: vertical;
}

#tofred2, #compareresult2{
    max-width: 974px;
    width: 96%;
    resize: vertical;
}

#imgfred {
    display: block;
    margin: auto;
    background-color: white;
    max-width: 100%;
    padding-bottom: 10px;
}


#imgamr2fred {
    display: block;
    margin: auto;
    background-color: white;
    max-width: 100%;
}

.input {
    padding: 10px;
    background-color: white;

}


.footer {
    clear: left;
    bottom: 0;
    background-color: white;
}

.loghi{
    background-color: white;
    max-height: 40px;
}

.loghini{
    height: 20px;
    background-color: white;
}

.logo {
    float: left;
    width: 25%;
    height: 90px;
    text-align: center;
    background-color: white;
}

.logo1 {
    float: left;
    width: 50%;
    height: 90px;
    text-align: center;
    background-color: white;
}

.spacer {
    clear: left;
    height: 20px;
    text-align: center;
    font-family: "calibri", sans-serif;
    font-size: 13px;
    background-color: white;
    font-weight: bold;
}


#rid {

}


p.tooltip {
    padding: 0px;
    margin: 0px;

}

.left {
    text-align: left;
    padding-left: 10px;
}


.help {
    background-color: white;
    font-family: "calibri", sans-serif;
    font-size: 13px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgb(209, 223, 206); 
    max-width: 944px;
    margin: auto;
}
.go{

    padding-top: 20px;
    clear: left;
}

button{
    font-family: "calibri", sans-serif;
    font-size: 20px;
    font-weight: bold; 

}


table{
    border: 1px solid rgb(173, 216, 230);
    width: 100%;
    padding: 10px;
}



.URI_constructor {
    clear: left;
}

.getIt{
    clear: left;
    padding-top: 10px;
}

.options-help {
    /*float: left;*/
    clear: left;
    font-family: "calibri", sans-serif;
    font-size: 13px;
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#pres{
    opacity: 0; 
}

#outMode{
    font-family: "calibri", sans-serif;
    font-size: 13px;
    padding: 3px;
}

.outMode{
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0px;
}

.amr2 {
    float: left;
    font-family: "calibri", sans-serif;
    font-size: 13px;  
    background-color: white;
    height: 100px;
    width: 100%;
}


.text2{
    float: left;
    font-family: "calibri", sans-serif;
    font-size: 13px;  
    background-color: white;
    height: 100px;
    width: 100%;
}